
<div   class="bg login-wrapper"fxLayout="row" fxLayoutAlign="center center">
 <!--<img class="float_left " src= "assets/images/loginbg.png">-->
 <div  class="loginform">  
   <div class ="logobg logo">
     <img src="/assets/images/logo.png " class ="imagestyle">
   </div>
  <mat-card class= "matcard box" > 
     
     
      <form  class="example-form" [formGroup]="formGroup"  >
      
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="emailId" matInput class ="matInput" mat-stroked-button placeholder="User Name" >
            <mat-error *ngIf="!formGroup.controls['emailId'].valid && formGroup.controls['emailId'].touched">
              {{ getErrorEmail() }}              
            </mat-error>
           
          

          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input formControlName="password" matInput mat-stroked-button placeholder="Password"type="password">
            <mat-error *ngIf="!formGroup.controls['password'].valid">
              {{getError('pass')}}
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      

        <button (click)=checkLogin()  mat-stroked-button color="#ffffff" class="btn-block">Log in</button>
    
      </form>
      <a mat-button class="matButtonLeft" routerLink="/register">Register User</a>
     <a mat-button class ="matButtonRight" routerLink="/password">Change Password</a>

    
    </mat-card>
    
    




 
  </div>
