
.bg {
  
  background-repeat: no-repeat;
  background-size: cover;
}

.loginform {
  
  background-repeat: no-repeat;
  padding: 50px;
  background-size: contain;
}
.logobg {
  text-align: center;
  width: 100%;
}
.imagestyle {
  border-radius: 50%;
  width: 100px;
}
.matcard {
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: none;
}
.matInput{
    width: 80%;
}
.matButtonLeft{
    float: left;

}
.matButtonRight{
    float: right;
}
