
.bg {
  background: linear-gradient(rgb(0 0 0 / 48%), rgb(0 0 0 / 43%)) 0% 0% / cover
      no-repeat,
    url("src\assets\images\nurse-measuring-patient-blood-pressure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginform {
  background-image: url("src\assets\images\loginbg.png");
  background-repeat: no-repeat;
  padding: 50px;
  background-size: contain;
}
.logobg {
  text-align: center;
  width: 100%;
}
.login-btn {
  outline: none;
}
.imagestyle {
  border-radius: 50%;
  width: 100px;
}
.matcard {
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: none;
}
.matInput{
    width: 80%;
}
.matButtonLeft{
    float: left;

}
.matButtonRight{
    float: right;
}
