<div class="container">
  <mat-toolbar color="primary" class="navbar">
    <span>ENABLERS</span>
  </mat-toolbar>
  <mat-grid-list cols="1" rowHeight="500px">
   
    <div  fxLayout="row" fxLayoutAlign="center center">
      <mat-grid-list cols="1" rowHeight="500px" class="register-section">
        <mat-card>
          <div class="container">
            <div class="row">
              <mat-card-header class="col-md-8">
                <mat-card-title class="text-success"> User Registeration</mat-card-title>
              </mat-card-header>
      
              <mat-form-field class="col-md-4 ">
                <mat-label>User Type</mat-label>
                <mat-select>
                  <mat-option value="admin" (click)="registerType='admin'"> Administrator </mat-option> 
                  <mat-option value="patient" (click)="registerType='patient'"> Patient </mat-option> 
                  <mat-option (click)="registerType='provider'" value="provider"> Provider </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        <div  *ngIf="registerType==='admin'">
          <app-admin></app-admin>
        </div>
        <div  *ngIf="registerType==='patient'">
          <app-patient></app-patient>
        </div>
        <div  *ngIf="registerType==='provider'">
          <app-provider></app-provider>
        </div>
      
        </mat-card>
      </mat-grid-list>
    </div>
    </mat-grid-list>
    </div>
  

