<div class="container">

    <div >
        <div class="row">    
            <div class="col-12">       
            <form class="example-form" [formGroup]="formGroup" >
            <mat-expansion-panel  class="border border-grey">
                <mat-expansion-panel-header>
                    <mat-panel-title>Personal</mat-panel-title>
                </mat-expansion-panel-header>
      
                    <div class="container">

                        <div class="row mt-3">
                
                            <mat-form-field  appearance="fill" class="example-full-width col-md-4">
                                <mat-label>First Name <span class="required-asterisk">*</span></mat-label>
                                <input formControlName="firstName" matInput class ="matInput" mat-stroked-button placeholder="firstName" >
                                <mat-error *ngIf="!formGroup.controls['firstName'].valid && formGroup.controls['firstName'].touched">
                                    {{ getErrorFisrtName() }}           
                                  </mat-error>
                            </mat-form-field>
             
              
              
                            <mat-form-field  appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Middle Name</mat-label>
                                <input matInput>
                            </mat-form-field>
             
        
              
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Last Name <span class="required-asterisk">*</span></mat-label>
                                <input formControlName="lastName" matInput class ="matInput" mat-stroked-button placeholder="lastName" >
                                <mat-error *ngIf="!formGroup.controls['lastName'].valid && formGroup.controls['lastName'].touched">
                                       {{getErrorLastName()}}  test        
                                  </mat-error>
                            </mat-form-field>
                        </div>
              
                        <div class="row">
                            <!-- <mat-form-field formControlName="gender" appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Gender </mat-label>
                                <mat-select >
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                 
                                </mat-select>
                                <input formControlName="gender" matInput class ="matInput" mat-stroked-button placeholder="gender" >
                                <mat-error *ngIf="!formGroup.controls['gender'].valid && formGroup.controls['gender'].touched">
                                                 
                                  </mat-error>
                            </mat-form-field> -->
                            <mat-form-field  appearance="fill" class="example-full-width col-md-4">

                                <mat-label>Gender <span class="required-asterisk">*</span>  </mat-label>
                            <mat-select    formControlName="gender" >
                    
                              <mat-option  value="M" >Male</mat-option>
                              <mat-option  value="F" >Female</mat-option>
                              <mat-option  value="O" >Other</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!formGroup.controls['gender'].valid && formGroup.controls['gender'].touched">
                                {{getErrorGender()}}          
                           </mat-error>
                            </mat-form-field>
            
                            <!--<mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Date of Birth </mat-label>
                                <input matInput="picker"  formControlName="dob"  >
                            </mat-form-field>-->
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Date of Birth </mat-label>
                                <input matInput [matDatepicker]="picker1" placeholder="dob" formControlName="dob">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                        </div>
                    
                    </div>
                
      
            </mat-expansion-panel>
  
  
            <mat-expansion-panel  class="border border-grey">
                <mat-expansion-panel-header class="bg-primary">
                <mat-panel-title>Contact</mat-panel-title>
                </mat-expansion-panel-header>
  
          
                    <div class="container" >
                        <div class="row mt-3">
                
                            <mat-form-field  appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Mobile Number <span class="required-asterisk">*</span></mat-label>
                                <input formControlName="mobile" matInput class ="matInput" mat-stroked-button placeholder="mobile" >
                                <mat-error *ngIf="!formGroup.controls['mobile'].valid && formGroup.controls['mobile'].touched">
                                    {{ getErrorMobile() }}           
                                  </mat-error>
                            </mat-form-field>
             
              
              
                            <mat-form-field  appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Alternate Number</mat-label>
                                <input matInput>
                            </mat-form-field>
             
        
              
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>E-Mail ID <span class="required-asterisk">*</span></mat-label>
                                <input formControlName="emailId" matInput class ="matInput" mat-stroked-button placeholder="emailId" >
                                <mat-error *ngIf="!formGroup.controls['emailId'].valid && formGroup.controls['emailId'].touched">
                                    {{ getErrorEmail() }}        
                                  </mat-error>
                            </mat-form-field>
                        </div>
              
                        <div class="row">
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Address </mat-label>
                                <input matInput>
                            </mat-form-field>
            
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> City </mat-label>
                                <input matInput="picker" >
                            </mat-form-field>
  
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> State </mat-label>
                                <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let state of states" [value]="state">{{state}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
            
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> County </mat-label>
                               
                                <mat-select >
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let county of county" [value]="county">{{county}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
           
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Zip Code </mat-label>
                                <input matInput="picker" >
                            </mat-form-field>
            
                        </div>
                    </div>
  
        
                    
            </mat-expansion-panel>
        </form>
    </div>  
        </div>
<div class="row">
    

    <mat-action-row>
        <button mat-raised-button>Cancel</button>
        <button mat-raised-button (click)="onSubmit(formGroup)">Save</button>
    </mat-action-row>
</div>
            
     
       
  
    </div> 
  
</div>
