<div class="changepasswordcontainer changepassword" > 

   
    
    <mat-grid-list style= "width:90%; margin-left: auto;margin-right: auto;" cols="2" rowHeight="2:1">
      
        
        <mat-grid-tile style="background:white">
        
            <div class="container-fluid flex-container" style="padding: 200px;">
              <form class="example-form"  [formGroup]="formGroup" > 
              <div width:100px class="flex-child">
                <mat-title fxLayoutAlign="center center" class="password">Change Password</mat-title>
                <mat-form-field  appearance="fill" class="example-full-width ">
                  <mat-label>Old Password</mat-label>
                  <input formControlName="oldPassword" matInput class ="matInput" mat-stroked-button placeholder="oldPassword" type="password">
                  <mat-error *ngIf="!formGroup.controls['oldPassword'].valid && formGroup.controls['oldPassword'].touched && oldPassword.errors">
                    {{getErrorOldPassword()}}     
          </mat-error>
                </mat-form-field><br>
                 
                <mat-form-field  appearance="fill" class="example-full-width ">
                  <mat-label>New Password</mat-label>
                  <input formControlName="newPassword" matInput class ="matInput" mat-stroked-button placeholder="newPassword" type="password">
                  <mat-error *ngIf="!formGroup.controls['newPassword'].valid && formGroup.controls['newPassword'].touched && newPassword.errors">
                    {{getErrorNewPassword()}}     
          </mat-error>
                </mat-form-field><br>
                
                <mat-form-field appearance="fill" class="example-full-width ">
                  <mat-label>Confirm New Password</mat-label>
                  <input formControlName="confirmPassword" matInput class ="matInput" mat-stroked-button placeholder="confirmPassword" type="password">
                  <mat-error *ngIf="!formGroup.controls['confirmPassword'].valid && formGroup.controls['confirmPassword'].touched && confirmPassword.errors">
                    {{getErrorConfirmPassword()}}     
          </mat-error>
                </mat-form-field><br>

                <input class="btn btn-primary " (click)="onSubmit(formGroup)" style=" padding-right: 55px; " type="button" value="Change Password" > 

              </div>
              
            </form>
            </div>
        </mat-grid-tile>
        <mat-grid-tile style="background:white">
          <div style="padding-top: 50px;"  class="flex-child" id="message">
            <h3>Password must contain:</h3>
            
            <p id="capital" class="invalid">At least 1 upper case letter(A-Z)</p>
            <p id="number" class="invalid">At least 1 Number(0-9)</p>
            <p id="letter" class="invalid">At least 1 Special character</p>
            <p id="length" class="invalid">At least 8 characters</p>
          </div> 
        </mat-grid-tile>
     
    </mat-grid-list>

  
 

</div>
