.main-section{
    display: flex;
    flex-wrap: wrap;
}
.side-bar-section{
    flex: 0 0 auto;
    width: 13%;
    background-color: #107C93;
    height: 100%;
    position: absolute;
}
.display-content {
    flex: 0 0 auto;
    width: 87%;
    margin-left: 13%;
    background-color: white;
}