.main-section{
    display: flex;
    flex-wrap: wrap;
}
.side-bar-section{
    flex: 0 0 auto;
    width: 150px;
    background-color: #107C93;
    height: 100%;
    position: absolute;
}
.display-content {
    flex: 0 0 auto;
    width: 100%; 
    margin-left: 150px;
}