.claims-section {
    border: 1px solid #dee2e6!important;
    margin: 10px;
    border-radius: 4px;
    min-height: 300px;
}

.toggle-menu {
    text-align: right;
    padding: 0px 10px 0px 10px;
}
.toggle-menu .active {
    color: #107C93;
}
.claims-header {
    padding: 20px 0px;
}
.search-section {
    margin: 10px 0px;
}
.s-claims {
    display: inline-block;
    margin-right: 15px;
}
.create-claims-btn {
    width: 220px;
    background-color: #107C93;
    color: #ffffff;
}

.search-button {
    margin-left: 20px;
    background-color: #107C93;
    color: #ffffff;
}

table {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
  }

tr.mat-header-row {
    height: 56px;
}
.mat-header-row {
    background-color:  #107C93;
}
.mat-header-row th {
    color: #ffffff;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

tr.mat-row, tr.mat-footer-row {
    height: 48px;
}

.claim-code{
    border-left: 5px solid;
}

 .green {
    border-color: green;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-bottom-color: rgba(0,0,0,.12) !important;

}

