


.appointments-section {
    border: 1px solid #dee2e6!important;
    margin: 10px;
    border-radius: 4px;
    min-height: 300px;
}
.toggle-menu {
    text-align: right;
    padding: 20px 10px 15px 10px;
}
.search-section {
    border: 1px solid #dee2e6;
    margin: 10px;
}
.search-header {
    color: #107C93
}

.search-results {
    
    padding: 0px 10px;
}
.search-button {
    margin-left: 10px;
}
.action-items {
    text-align: right;
}

table {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
  }

tr.mat-header-row {
    height: 56px;
}
.mat-header-row {
    background-color:  #107C93;
}
.mat-header-row th {
    color: #ffffff;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

tr.mat-row, tr.mat-footer-row {
    height: 48px;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-bottom-color: rgba(0,0,0,.12) !important;

}


.action-box td {
    padding: 4px 0px;
}
.action-img {
    width:12px;
    cursor: pointer;
    margin-left: 10px;
}
.appointment-code{
    border-left: 5px solid;
}
tr .pending {
    border-color: yellow;
}
tr .modified {
    border-color: orange;
}
tr .accept {
    border-color: green;
}

tr .denied {
    border-color: red;
}

.status-field {
    padding-top: 10px;
}
.c-appointments {
    display: inline;
    padding-right: 20px;
}

.toggle-menu .active {
    color: #107C93
}


.orange {
    border-color: orange;
}




.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffffff !important;
}