<h1> Home</h1>

 <div class="container-fluid">
    <div class="row">
     
      <!-- <div class="sidebar-wrapper">
         <div class="sidebar">
           <div>
              <nav id="sidebar" class="">
                  <ul class="navbar-nav">
                    <li >
                      <a class="nav-link" href="home/home.component.html">
                        <i class="fa fa-home" aria-hidden="true"></i>
                      Home page</a>
                    </li>
                    <li >
                      <a class="nav-link" href="#">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                      Appointment</a>
                    </li>
                    <li >
                        <a class="nav-link" href="#">
                          <i class="material-icons"></i>
                          Claims</a>
                    </li>
                  </ul>
              </nav>
          </div>  
      </div> 
      </div> -->
      <div class="main-content">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="header">
                    <h1>Next Appointment</h1>
                  </div>
                  <div class="card-body">
                    <div style="display: inline-block; width: 30%;" class="card-img">
                      <i class="fa fa-calendar-check-o" aria-hidden="true" style="font-size: 80px;"></i>
                    </div>
                    <div style="display: inline-block; vertical-align: middle; width: 69%;">
                      <ul>
                        <li><span>Patient name</span> <span>Sam</span></li>
                        <li><span>Date and Time</span><span>01/01/2020</span></li>
                        <li><span>Reason</span><span>Checkup</span></li>
                      </ul>
                    </div>
                  </div>
                  <a href="#" class="viewmore">View more</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="header">
                    <h1>Appointments</h1>
                  </div>
                  <div class="card-body">
                    <div style="display: inline-block; width: 30%; vertical-align: middle;" class="card-img">
                      <i class="fa fa-calendar-check-o" aria-hidden="true" style="font-size: 80px; color: rgb(250, 100, 0);"></i>
                      <p class="number">4</p>
                    </div>
                    <div style="display: inline-block; vertical-align: middle; width: 69%;">
                      <p class="date">Date: <span class="fa fa-chevron-left" aria-hidden="true"></span><span>12/08/2020</span><span class="fa fa-chevron-right" aria-hidden="true"></span></p>
                      <ul>
                        <li><span>Patient name</span> <span>Time</span></li>
                        <li><span>Sam</span><span>01/01/2020</span></li>
                        <li><span>Sam</span><span>01/01/2020</span></li>
                        <li><span>Sam</span><span>01/01/2020</span></li>
                        <li><span>Sam</span><span>01/01/2020</span></li>
                      </ul>
                    </div>
                  </div>
                  <a href="#" class="viewmore">View more</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="header">
                    <h1>Pending Appointment</h1>
                  </div>
                  <div class="card-body">
                    <div style="display: inline-block; width: 30%;" class="card-img">
                     
                    </div>
                    <div style="display: inline-block; vertical-align: middle; width: 69%;">
                      <ul>
                        <li><span>Patient name</span> <span>Sam</span></li>
                        <li><span>Sam</span><span>01/01/2020  5:30 PM</span></li>
                        <li><span>Sam</span><span>01/01/2020  6:15 PM</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="header">
                    <h1>Claims Details</h1>
                  </div>
                  <div class="card-body">
                    <div style="display: inline-block; width: 30%;" class="card-img">
                     
                    </div>
                    <div style="display: inline-block; vertical-align: middle; width: 69%;">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div> 
