<div class="container">
    <mat-card>
        <h1 class="theme-color  text-center"> Health Insurance Claims </h1>
    </mat-card>

    <mat-horizontal-stepper [liner] = "isLinear" #stepper>
        <mat-step [stepControl] = "firstFormGroup">
            <form [formGroup] = "firstFormGroup">
                <ng-template matStepLabel> Patient Details </ng-template>
                    <div class="container">
                        <div class="row mt-2">
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Medicare </mat-label>
                                <mat-select formControlName = "medicare">
                                    <mat-option value="test">test</mat-option>
                                    <mat-option value=""></mat-option>
                                    <mat-option value=""></mat-option>
                                </mat-select>
                            </mat-form-field>
      
                            
                            <mat-form-field  appearance="fill" class="example-full-width col-md-7">
                                <mat-label>Patient Name (Last Name, First Name, Middle Name</mat-label>
                                <input matInput formControlName = "patientName" placeholder= "patientName" >
                            </mat-form-field>
                        </div>
                        <div class="row mt-3">
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Patient Date of Birth </mat-label>
                                <input matInput="picker" formControlName = "patientDOB" placeholder= "patientDOB">
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Sex </mat-label>
                                <mat-select formControlName = "sex">
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                    <mat-option value=""></mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field  appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Patient Address</mat-label>
                                <input matInput formControlName = "patientAddress" placeholder= "patientAddress">
                            </mat-form-field>
                        </div>
            
                        <div class="row">
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>City</mat-label>
                                <input matInput formControlName = "city" placeholder= "city">
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>State</mat-label>
                                <mat-select formControlName ="state">
                                    <mat-option value="Alabama">Alabama</mat-option>
                                    <mat-option value="Alaska">Alaska</mat-option>
                                    <mat-option value="Arizona">Arizona</mat-option>
                                    <mat-option value="Arkansas">Arkansas</mat-option>
                                    <mat-option value="California">California</mat-option>
                                    <mat-option value="Colorado">Colorado</mat-option>
                                    <mat-option value="Connecticut">Connecticut</mat-option>
                                    <mat-option value="Delaware">Delaware</mat-option>
                                    <mat-option value="Florida">Florida</mat-option>
                                    <mat-option value="Florida">Florida</mat-option>
                                </mat-select>
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Zip Code</mat-label>
                                <input matInput  formControlName = "zipCode" placeholder= "zipCode">
                            </mat-form-field>            
                        </div>

                        <div class="row">
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Telephone</mat-label>
                                <input matInput formControlName = "telePhone" placeholder= "telePhone">
                            </mat-form-field>
                        </div>

                    </div>
            
                
                <div class="button-control">
                    <button mat-raised-button matStepperNext>Next</button>
                    <button mat-raised-button>Cancel</button>
                    <button mat-raised-button class="save">Save</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl] = "secondFormGroup" label="Insurance Details">
            <form [formGroup]="secondFormGroup">
                <div class="row mt-2">
                    <mat-form-field class="col-md-4">
                        <mat-label>Insured's ID Number</mat-label>
                        <input matInput formControlName = "insuredId" placeholder= "insuredId" required> 
                    </mat-form-field>
                    <mat-form-field class="col-md-8">
                        <mat-label>Insured's Name(Last Name, First Name, Middle Name)</mat-label>
                        <input matInput formControlName = "insuredName" placeholder= "insuredName" required> 
                    </mat-form-field>

                </div>

                <div class="row mt-3">
                <mat-form-field class="col-md-4">
                    <mat-label>Patient Relationship to Insured</mat-label>
                    <input matInput formControlName = "patientRelation" placeholder= "patientRelation" required> 
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <mat-label >Insured's Address</mat-label>
                    <input matInput formControlName = "insuredAddress" placeholder= "insuredAddress" required> 
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <mat-label>City</mat-label>
                    <input matInput formControlName = "citi" placeholder= "citi" required> 
                </mat-form-field>

                </div>

                <div class="row mt-3">
                    <mat-form-field appearance="fill" class="example-full-width col-md-4">
                        <mat-label>State</mat-label>
                        <mat-select formControlName ="state" >
                            <mat-option value="Alabama">Alabama</mat-option>
                            <mat-option value="Alaska">Alaska</mat-option>
                            <mat-option value="Arizona">Arizona</mat-option>
                            <mat-option value="Arkansas">Arkansas</mat-option>
                            <mat-option value="California">California</mat-option>
                            <mat-option value="Colorado">Colorado</mat-option>
                            <mat-option value="Connecticut">Connecticut</mat-option>
                            <mat-option value="Delaware">Delaware</mat-option>
                            <mat-option value="Florida">Florida</mat-option>
                            <mat-option value="Florida">Florida</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Zip Code</mat-label>
                        <input matInput formControlName = "zipCode" placeholder= "zipCode" required> 
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Other Insured's Policy Group</mat-label>
                        <input matInput formControlName = "otherInsuredPolicy" placeholder= "otherInsuredPolicy" required> 
                    </mat-form-field>
                </div>

                <div class="row mt-2">
                    <mat-form-field class="col-md-8">
                        <mat-label>Other Insured's Name(First Name,Middle Name)</mat-label>
                        <input matInput formControlName = "otherInsuredName" placeholder= "otherInsuredName" required> 
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>Other Insured's Last Name</mat-label>
                        <input matInput formControlName = "otherInsuredLastName" placeholder= "otherInsuredLastName" required> 
                    </mat-form-field>
                </div>
                <div class="row mt-2">
                    <mat-form-field class="col-md-4">
                        <mat-label>Reserved for NUCC Use</mat-label>
                        <input matInput formControlName = "reservedForNUCC" placeholder= "reservedForNUCC" required> 
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>Insurance Plan Name</mat-label>
                        <input matInput formControlName = "insuredPlanName" placeholder= "insuredPlanName" required> 
                    </mat-form-field>
                </div>
                <p>Is Patient Conditions Related to :</p>
                <div class="row mt-3">
                    
                    <mat-form-field appearance="fill" class="example-full-width col-md-4">
                        <mat-label> Employment? (Current/ Previous) </mat-label>
                        <mat-select formControlName = "isPatient" >
                            <mat-option value=""></mat-option>
                            <mat-option value=""></mat-option>
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="example-full-width col-md-4">
                        <mat-label> Auto Accident </mat-label>
                        <mat-select formControlName ="autoAccident">
                            <mat-option value=""></mat-option>
                            <mat-option value=""></mat-option>
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="example-full-width col-md-4">
                        <mat-label> Other Accident </mat-label>
                        <mat-select formControlName ="otherAccident">
                            <mat-option value=""></mat-option>
                            <mat-option value=""></mat-option>
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row mt-3">
                    <mat-form-field class="col-md-4">
                        <mat-label>Reserved for Local Use</mat-label>
                        <input matInput formControlName = "reservedForLocal" placeholder= "reservedForLocal" required> 
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-4">
                        <mat-label>Insured's Policy Group</mat-label>
                        <input matInput formControlName = "insuredPolicyGroup" placeholder= "insuredPolicyGroup" required> 
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="example-full-width col-md-4">
                        <mat-label>Insured's Date of Birth </mat-label>
                        <input matInput="picker" formControlName ="insuredDOB">
                    </mat-form-field>
                </div>

                <div class="row mt-3">
                    <mat-form-field appearance="fill" class="example-full-width col-md-4">
                        <mat-label> Sex</mat-label>
                        <mat-select formControlName = "sex">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width col-md-4">
                        <mat-label>Other Claim ID</mat-label>
                        <input matInput formControlName = "otherClaim" placeholder= "otherClaim" required> 
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Insurance Plan Name</mat-label>
                        <input matInput formControlName = "insuredPlanName" placeholder= "insuredPlanName" required> 
                    </mat-form-field>
                </div>

                <div class="row mt-3">
                    <mat-form-field class="col-md-4">
                        <mat-label> Claim Codes(Designated by NUCC)</mat-label>
                        <input matInput formControlName = "claimCodes" placeholder= "claimCodes" required> 
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col-md-4">
                        <mat-label> Another Health Benefit Plan ? </mat-label>
                        <mat-select formControlName = "anotherHealthBenefit">
                            <mat-option value=""></mat-option>
                            <mat-option value=""></mat-option>
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="button-control">
                    <button mat-raised-button matStepperPrevious>PREV</button>
                    <button mat-raised-button matStepperNext>Next</button>
                    <button mat-raised-button >cancel</button>
                    <button mat-raised-button class="save">Save</button>
                </div>
            </form>
        </mat-step>


        
        <mat-step [stepControl] = "thirdFormGroup">
            <form [formGroup] = "thirdFormGroup">
                <ng-template matStepLabel> Provider & Case Details </ng-template>
            <mat-card>
                    
                        <h2>Provider Info</h2>
                        <mat-card>
                        <div class="row mt-2">
                            <mat-form-field appearance="fill" class="col-md-4">
                                <mat-label> Name of Referring Provider </mat-label>
                                <input matInput formControlName = "nameOfReferring" placeholder ="nameOfReferring" >
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>NPI </mat-label>
                                <input matInput formControlName = "npi" placeholder ="npi">
                            </mat-form-field>
                        </div>
                        </mat-card>

                <mat-card class="p-section2">
                    <div class="container">
                        <div class="row mt-2">
                            
                            <p class="col-5 mt-3">Date of Current illness,Injury or Pregnancy(LMP):</p>
                            <mat-form-field appearance="fill" class="example-full-width col-3">
                                <mat-label> Date </mat-label>
                                <input matInput [matDatepicker]="picker1" placeholder="dob">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="example-full-width col-md-3">
                                <mat-label>Qual </mat-label>
                                <input matInput formControlName = "quality" placeholder = "quality">  
                            </mat-form-field>
                        </div>

                        <div class="row mt-2">
                            <mat-form-field appearance="fill" class="example-full-width offset-md-5 col-3">
                                <mat-label>Qual </mat-label>
                                <input matInput  placeholder = "quality"> 
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="example-full-width col-3">
                                <mat-label> Date </mat-label>
                                <input matInput [matDatepicker]="picker2" placeholder="dob">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            
                        </div>
                        <div class="row mt-3">
                            <p class="col-5 mt-3">Dates Patient unable to work in Current Occupation</p>
                            <mat-form-field appearance="fill" class="example-full-width col-3">
                                <mat-label> From Date </mat-label>
                                <input matInput [matDatepicker]="picker3" placeholder="from date">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="example-full-width col-3">
                                <mat-label> To Date </mat-label>
                                <input matInput [matDatepicker]="picker4" placeholder="To Date">
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>
                            
                        </div>
                        <div class="row mt-3">
                            <p class="col-5 mt-3">Hospitalization Dates related to Current services</p>
                            <mat-form-field appearance="fill" class="example-full-width col-3">
                                <mat-label> From Date </mat-label>
                                <input matInput [matDatepicker]="picker5" placeholder="From Date">
                                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                <mat-datepicker #picker5></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="example-full-width col-3">
                                <mat-label> To Date </mat-label>
                                <input matInput [matDatepicker]="picker6" placeholder="To Date">
                                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                <mat-datepicker #picker6></mat-datepicker>
                            </mat-form-field>
                            
                        </div>
                        <div class="row mt-3">
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label>Additional Claim Information </mat-label>
                                <input matInput formControlName ="additionalClaim">
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="example-full-width offset-1 col-md-3">
                                <mat-label> Outside Lab? </mat-label>
                                <mat-select formControlName ="outside">
                                    <mat-option value=""></mat-option>
                                    <mat-option value=""></mat-option>
                                    <mat-option value=""></mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="example-full-width col-3">
                                <mat-label>$ Charges </mat-label>
                                <input matInput formControlName ="charge" placeholder = "charge">
                            </mat-form-field>

                        </div>

                        <div class="e24-section">
                            <div class="row">
                                <p class="mt-3 col-8">Diagnosis or Nature of Illness or Injury Relate A-L to service line below (24E0</p>
                                <mat-form-field appearance="fill" class="example-full-width col-4">
                                    <mat-label> ICD Ind </mat-label>
                                    <input matInput formControlName ="icdId" placeholder = "icdId"> 
                                </mat-form-field>
                                
                            </div>
                            <div class="row-mt-2">
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> A </mat-label>
                                    <input matInput formControlName ="a" placeholder = "a">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> B </mat-label>
                                    <input matInput formControlName ="b" placeholder = "b">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> C </mat-label>
                                    <input matInput formControlName ="c" placeholder = "c">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> D </mat-label>
                                    <input matInput formControlName ="d" placeholder = "d">
                                </mat-form-field>
                            </div>
                            <div class="row-mt-2">
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> E </mat-label>
                                    <input matInput formControlName ="e" placeholder = "e">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> F </mat-label>
                                    <input matInput formControlName ="f" placeholder = "f"> 
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> G </mat-label>
                                    <input matInput formControlName ="g" placeholder = "g">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> H </mat-label>
                                    <input matInput formControlName ="h" placeholder = "h">
                                </mat-form-field>
                            </div>
                            <div class="row-mt-1">
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> I </mat-label>
                                    <input matInput formControlName ="i" placeholder = "i">  
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> J </mat-label>
                                    <input matInput formControlName ="j" placeholder = "j">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> K </mat-label>
                                    <input matInput formControlName ="k" placeholder = "k">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="example-full-width col-3">
                                    <mat-label> L </mat-label>
                                    <input matInput formControlName ="l" placeholder = "l">
                                </mat-form-field>
                            </div>
                        </div>
                        
                    

                        <div class="row-mt-3">
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Resubmission Code </mat-label>
                                <input matInput formControlName ="resubmission" placeholder = "resubmission">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Original Ref. No </mat-label>
                                <input matInput formControlName ="orginalRef" placeholder = "orginalRef" >
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="example-full-width col-md-4">
                                <mat-label> Prior Authorization Number </mat-label>
                                <input matInput formControlName = "prior" placeholder ="prior">
                            </mat-form-field>
                        </div>
                        <button disabled>Add Line Items</button>
                    </div>

                <div class="container-down">
                    <div class="scrollmenu">
                        <table>
                            <thead>
                                <th>
                                    
                                </th>
                            </thead>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row-mt-3">
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label> Federal Tax I.D.Number </mat-label>
                            <input matInput formControlName = "federal" placeholder ="federal">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label> SSIN EIN</mat-label>
                            <input matInput formControlName = "ssin" placeholder ="ssin">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label> Patient Account No </mat-label>
                            <input matInput formControlName = "patientAcc" placeholder ="patientAcc">
                        </mat-form-field>
                    </div>

                    <div class="row-mt-3">
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label> $Total Charge </mat-label>
                            <input matInput formControlName = "totalCharge" placeholder ="totalCharge">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label> $Amount Paid </mat-label>
                            <input matInput formControlName = "amountPaid" placeholder ="amountPaid">
                        </mat-form-field>
                    </div>

                    <div class="row-mt-3">
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label> $ Balance Due </mat-label>
                            <input matInput formControlName = "balanceDue" placeholder ="balanceDue">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label> Service Facility Location Information </mat-label>
                            <input matInput formControlName = "serviceFacility" placeholder ="serviceFacility" >
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label> Billing Provider Info & PH </mat-label>
                            <input matInput formControlName = "billingProvider" placeholder ="billingProvider" >
                        </mat-form-field>
                    </div>
                    <div class="button-control">
                        <button mat-raised-button matStepperPrevious>PREV</button>
                        <button mat-raised-button >Cancel</button>
                        <button mat-raised-button class="save" >Save</button>
                        <button mat-raised-button class="save">Submit</button>
                    </div>
                </div> 
                </mat-card>
            </mat-card>   
            </form>
        </mat-step>
    </mat-horizontal-stepper>

</div>
