<div class="container">
 
        <form [formGroup] = "claimsFormGroup">
            <ng-template> Claims Details </ng-template>
                <div class="container">
                    <div class="row mt-3">
                        <mat-form-field appearance="fill" class="example-full-width col-4">
                            <mat-label> Date(s) of Service From </mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName = "DateofServiceFrom" placeholder="Date(s) of Service From">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                       
                        <mat-form-field appearance="fill" class="example-full-width col-4">
                            <mat-label> Date(s) of Service To </mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName = "DateofServicTo" placeholder="Date(s) of Service To">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>Plan of Service </mat-label>
                            <input matInput formControlName = "ReferringProvider" placeholder= "Name of Referring Provider" required>
                        </mat-form-field>
                        
                    </div>

                    <div class="row mt-2">
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>EMG &nbsp;&nbsp;</mat-label>
                            <input matInput formControlName = "EMG" placeholder= "EMG" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-8">
                            <mat-label>Procedures,Services,or Supplies CPT/HCPCS </mat-label>
                            <input matInput formControlName = "ProceduresServicesSupplies" placeholder= "Procedures,Services,or Supplies" required>
                        </mat-form-field>
                    </div>
                    <div class="row mt-2">
                        <mat-form-field appearance="fill" class="example-full-width col-md-8">
                            <mat-label>Procedures,Services,or Supplies mofifier </mat-label>
                            <input matInput formControlName = "suppliesMofifier" placeholder= "Procedures,Services,or Supplies" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>Diagnosis Pointer </mat-label>
                            <input matInput formControlName = "DiagnosisPointer" placeholder= "Diagnosis Pointer" required>
                        </mat-form-field>
                    </div>
                    <div class="row mt-2">
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>Charges </mat-label>
                            <input matInput formControlName = "Charges" placeholder= "Charges" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>Days or Units </mat-label>
                            <input matInput formControlName = "DaysorUnits" placeholder= "Days or Units" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>EPSDT Family Plan </mat-label>
                            <input matInput formControlName = "EPSDTFamilyPlan" placeholder= "EPSDT Family Plan" required>
                        </mat-form-field>
                    </div>
                    <div class="row mt-2">
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>ID Qual </mat-label>
                            <input matInput formControlName = "IDQual" placeholder= "ID Qual" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>Rendering Provider ID </mat-label>
                            <input matInput formControlName = "RenderingProviderID" placeholder= "Rendering Provider ID" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width col-md-4">
                            <mat-label>NPI </mat-label>
                            <input matInput formControlName = "NPI" placeholder= "NPI" required>
                        </mat-form-field>

                       
                    </div>
                    <div class="action-controls">
                        <button mat-raised-button (click)="cancel()">Cancel</button>
                        <button mat-raised-button class="active" (click)="save()">Save</button>
                    </div>
                </div>
        </form>
 
</div>