<div class="user-profile-section">
    <div class="user-imge">
        <img class="user-icon" src="../../../../assets/images/user-icon.svg" alt="user-icon">
    </div>
    <div class="user-info">
        <p>joe provider</p>
        <p>12345678</p>
    </div>

</div>
<div class="menu-section">  
    <ul>
        <li [routerLink]="['/user/provider-home']">
            <img class="menu-icon" src="../../../../assets/images/home.svg" alt="Home">
            Home
        </li>
        <li class="active" [routerLink]="['/user/provider-appointments']">
            <img class="menu-icon" src="../../../../assets/images/appointment-2.svg" alt="Appointments">
            Appointments
        </li>
        <li>
            <img class="menu-icon" src="../../../../assets/images/claim.svg" alt="claim">
            claims
        </li>
    </ul>

</div>